@media only screen and (min-width: 35rem) {
  body{
    padding: 1rem;
  }
  h1{
    font-size: 2rem;
  }
  
  /*ul li a{*/
    /*padding: 1rem 0.5rem;
    margin: 1rem;*/
 
   /* ul li{
    padding: 1rem 0.5rem;
    margin: 1rem
  } */
  main{
    padding: 2rem;
  }

  #login{
    margin-right: 2rem;
    margin-top: -2rem;
    text-decoration: none;
    color: #8d8d8d;
    font-size: 1.5rem;
  }

  /*Final section*/
  .final-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .delorean-upgrades{
    grid-column: 1;
    grid-row: 1;
  }
  .delorean-reviews{
    grid-column: 2;
    grid-row: 1;
  }
  .own-button{
    margin-bottom: 15rem;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .button-home{
    grid-column: 1;
    grid-row: 1;
    margin: 8rem 70% 0 auto;
  }

  .button-home img{
    margin-left: 15%;
    max-width: 95%;
  }

  .image-up{
    max-width: 25%;
  }
/* For vehicle display in classification view */
#inv-display {
  justify-content: space-around;
  flex-direction: row;
}

#inv-display h2{
  font-size: 1rem;
}

#inv-display li {
  max-width: 200px;
  flex: 1 0 auto;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
    
#inv-display div {
  width: 100%;
}
  
.infoCar{
  border-top: 2px solid rgb(39, 35, 35);
  height: 100px;
}

.car-list{
  border-radius: 2px;
}

.car-details{
  display: flex;
  flex-direction: row;
}

.car-info-container{
  padding: 2em 4.5em;
}
.car-name{
  margin-bottom: 1em;
  font-size: 1.5em;
}

}